@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
	3.1 Top Bar
	3.2 Header Main
	3.3 Main Navigation
	3.4 Page Menu
4. Home
5. Single Product
6. Recently Viewed
7. Brands
8. Newsletter
9. Footer


******************************/

/***********
1. Fonts
***********/

/*@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900');*/

/*********************************
2. Body and some general stuff
*********************************/
/*body
{
	/*font-family: 'Rubik', sans-serif;*
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #000000;
}*/
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}

p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
/*p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}*/
p a:hover::after
{
	opacity: 0.2;
}
/*::selection
{
	
}
p::selection
{
	
}*/
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	/*font-family: 'Rubik', sans-serif;*/
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
/*h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}*/
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.nopadding
{
	padding: 0px !important;
}
.button
{
	display: inline-block;
	background: #0e8ce4;
	border-radius: 5px;
	height: 48px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.button a
{
	display: block;
	font-size: 18px;
	font-weight: 400;
	line-height: 48px;
	color: #FFFFFF;
	padding-left: 35px;
	padding-right: 35px;
}
.button:hover
{
	opacity: 0.8;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.rating_r i::before{
	content: "\f006";
	font-style: normal;
	font-size: 19px;
	margin-right: 4px;
	color: #f5e211;
}



/*********************************
5. Single Product
*********************************/

.single_product
{
	padding-top: 50px;
	padding-bottom: 140px;
}

.image_list{
	margin:0;
	padding: 0;
}

.image_list li
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 165px;
	border: solid 1px #e8e8e8;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
	margin-bottom: 15px;
	cursor: pointer;
	padding: 15px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	overflow: hidden;
}
.image_list li:last-child
{
	margin-bottom: 0;
}
.image_list li:hover
{
	box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
}
.image_list li img
{
	max-width: 100%;
}
.image_selected
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: calc(100% + 15px);
	height: 525px;
	-webkit-transform: translateX(-15px);
	-moz-transform: translateX(-15px);
	-ms-transform: translateX(-15px);
	-o-transform: translateX(-15px);
	transform: translateX(-15px);
	border: solid 1px #e8e8e8;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
	overflow: hidden;
	padding: 15px;
}
.image_selected img
{
	max-width: 100%;
}
.product_description{
	padding-left: 50px;
}

.product_category{
	font-size: 12px;
	color: rgba(0,0,0,0.5);
}
.product_name{
	font-size: 30px;
	font-weight: 500;
	margin-top: 11px;
}
.product_rating{
	margin-top: -7px;
	color: #9da4aa;
}

.product_fav ul li{
	margin-top:5px;
	margin-left:-50px;
}

.product_fav i{
	line-height: 36px;
	margin-right:4px;
}

.product_text{
	margin-top: 27px;
}

.product_text p {

	line-height: 1.7;
	font-weight: 400;
	color: #828282;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.product_text p:last-child{
	margin-bottom: 0px;
}
.order_info{
	margin-top: 53px;
	display: flex;
}
.product_color{
	margin:auto;
	text-align:center;
	font-size:20px;	
}
.color_dropdown_button{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 100%;
}
.color_dropdown_button i
{
	font-size: 11px;
	color: rgba(0,0,0,0.3);
	pointer-events: none;
}
.color_mark_container
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 48px;
	float: right;
}
.color_mark
{
	width: 20px;
	height: 20px;
	background: #999999;
	border-radius: 50%;
}
.product_color > li
{
	position: relative;
	width: 100%;
	height: 100%;
	padding-left: 25px;
	padding-right: 49px;
}
.product_color li ul
{
	position: absolute;
	top: calc(100% + 15px);
	right: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	width: auto;
	visibility: hidden;
	opacity: 0;
	box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
	background: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.product_color > li:hover ul
{
	top: 100%;
	visibility: visible;
	opacity: 1;
}
.product_color ul li
{
	padding-right: 49px;
	padding-left: 49px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.product_color li ul li div
{
	margin-left: auto;
}
.product_price
{
	display: inline-block;
	font-size: 24px;
	font-weight: 500;
	margin-top: 30px;
	clear: left;
}
.button_container
{
	margin-top: -60px;
}
.cart_button
{
	display: inline-block;
	border: none;
	font-size: 18px;
	font-weight: 400;
	line-height: 48px;
	color: #FFFFFF;
	padding-left: 35px;
	padding-right: 35px;
	outline: none;
	cursor: pointer;
}
.cart_button:focus
{
	outline: none;
}



/*********************************
6. Recently Viewed
*********************************/

.viewed
{
	padding-top: 51px;
	padding-bottom: 60px;
	background: #eff6fa;
}
.viewed_title_container
{
	border-bottom: solid 1px #dadada;
}
.viewed_title
{
	margin-bottom: 14px;
}
.viewed_nav_container
{
	position: absolute;
	right: -5px;
	bottom: 14px;
}
.viewed_nav
{
	display: inline-block;
	cursor: pointer;
}
.viewed_nav i
{
	color: #dadada;
	font-size: 18px;
	padding: 5px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.viewed_nav:hover i
{
	color: #606264;
}
.viewed_prev
{
	margin-right: 15px;
}
.viewed_slider_container
{
	padding-top: 50px;
}
.viewed_item
{
	width: 100%;
	background: #FFFFFF;
	border-radius: 8px;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 15px;
	padding-right: 15px;
}
.viewed_image
{
	width: 115px;
	height: 115px;
}
.viewed_image img
{
	display: block;
	max-width: 100%;
}
.viewed_content
{
	width: 100%;
	margin-top: 25px;
}
.viewed_price
{
	font-size: 16px;
	color: #000000;
	font-weight: 500;
}
.viewed_item.discount .viewed_price
{
	color: #df3b3b;
}
.viewed_price span
{
	position: relative;
	font-size: 12px;
	font-weight: 400;
	color: rgba(0,0,0,0.6);
	margin-left: 8px;
}
.viewed_price span::after
{
	display: block;
	position: absolute;
	top: 6px;
	left: -2px;
	width: calc(100% + 4px);
	height: 1px;
	background: #8d8d8d;
	content: '';
}
.viewed_name
{
	margin-top: 3px;
}
.viewed_name a
{
	font-size: 14px;
	color: #000000;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.viewed_name a:hover
{
	color: #0e8ce4;
}
.item_marks
{
	position: absolute;
	top: 18px;
	left: 18px;
}
.item_mark
{
	display: none;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	color: #FFFFFF;
	font-size: 10px;
	font-weight: 500;
	line-height: 36px;
	text-align: center;
}
.item_discount
{
	background: #df3b3b;
	margin-right: 5px;
}
.item_new
{
	background: #0e8ce4;
}
.viewed_item.discount .item_discount
{
	display: inline-block;
}
.viewed_item.is_new .item_new
{
	display: inline-block;
}

/***************************
FEATURRES
/**************************/
#feat{margin-top: -90px;}
h3.h3{text-align:center;margin:1em;text-transform:capitalize;font-size:1.7em;}
.product-grid6,.product-grid6 .product-image6{overflow:hidden}
.product-grid6{font-family:'Open Sans',sans-serif;text-align:center;position:relative;transition:all .5s ease 0s}
.product-grid6:hover{box-shadow:0 0 10px rgba(0,0,0,.3)}
.product-grid6 .product-image6 a{display:block}
.product-grid6 .product-image6 img{width:100%;height:auto;transition:all .5s ease 0s}
.product-grid6:hover .product-image6 img{transform:scale(1.1)}
.product-grid6 .product-content{padding:12px 12px 15px;transition:all .5s ease 0s}
.product-grid6:hover .product-content{opacity:0}
.product-grid6 .title{font-size:20px;font-weight:600;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s}
.product-grid6 .title a{color:#000}
.product-grid6 .title a:hover{color:#2e86de}
.product-grid6 .price{font-size:18px;font-weight:600;color:#2e86de}
.product-grid6 .price span{color:#999;font-size:15px;font-weight:400;text-decoration:line-through;margin-left:7px;display:inline-block}
.product-grid6 .social{background-color:#fff;width:100%;padding:0;margin:0;list-style:none;opacity:0;transform:translateX(-50%);position:absolute;bottom:-50%;left:50%;z-index:1;transition:all .5s ease 0s}
.product-grid6:hover .social{opacity:1;bottom:20px}
.product-grid6 .social li{display:inline-block}
.product-grid6 .social li a{color:#909090;font-size:16px;line-height:45px;text-align:center;height:45px;width:45px;margin:0 7px;border:1px solid #909090;border-radius:50px;display:block;position:relative;transition:all .3s ease-in-out}
.product-grid6 .social li a:hover{color:#fff;background-color:#2e86de;width:80px}
.product-grid6 .social li a:after,.product-grid6 .social li a:before{content:attr(data-tip);color:#fff;background-color:#2e86de;font-size:12px;letter-spacing:1px;line-height:20px;padding:1px 5px;border-radius:5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.product-grid6 .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-20px;z-index:-1}
.product-grid6 .social li a:hover:after,.product-grid6 .social li a:hover:before{opacity:1}
@media only screen and (max-width:990px){.product-grid6{margin-bottom:30px}

/*********************************
7. Brands
*********************************/

.brands
{
	width: 100%;
	padding-top: 90px;
	padding-bottom: 90px;
}
.brands_slider_container
{
	height: 130px;
	border: solid 1px #e8e8e8;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
	padding-left: 97px;
	padding-right: 97px;
}
.brands_slider
{
	height: 100%;
}
.brands_item
{
	height: 100%;
}
.brands_item img
{
	max-width: 100%;
}
.brands_nav
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	padding: 5px;
	cursor: pointer;
}
.brands_nav i
{
	color: #e5e5e5;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.brands_nav:hover i
{
	color: #676767;
}
.brands_prev
{
	left: 40px;
}
.brands_next
{
	right: 40px;
}

/*********************************
8. Newsletter
*********************************/

.newsletter
{
	width: 100%;
	background: #fafafa;
	padding-top: 60px;
	padding-bottom: 60px;
	box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
}
.newsletter_container
{
	width: 100%;
}
.newsletter_title_container
{
	width: 40%;
	padding-left: 95px;
}
.newsletter_icon
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
}
.newsletter_title
{
	font-size: 18px;
	color: #000000;
}
.newsletter_text p:last-child
{
	margin-bottom: 0;
}
.newsletter_icon img
{
	max-width: 100%;
}
.newsletter_content
{
	width: 60%;
}
.newsletter_form
{
	position: relative;
	width: 569px;
	float: left;
}
.newsletter_input
{
	width: 100%;
	height: 50px;
	background: #FFFFFF;
	border: solid 1px #e5e5e5;
	border-radius: 5px;
	padding-left: 25px;
	font-size: 16px;
	outline: none;
	color: #0e8ce4;
}
.newsletter_input:focus
{
	border: solid 1px rgba(14, 140, 228, 0.3);
	box-shadow: 0px 1px 5px rgba(14, 140, 228, 0.3);
}
.newsletter_input::-webkit-input-placeholder
{
	font-size: 16px;
	color: rgba(0,0,0,0.3);
}
.newsletter_input:-moz-placeholder
{
	font-size: 16px;
	color: rgba(0,0,0,0.3);
}
.newsletter_input::-moz-placeholder
{
	font-size: 16px;
	color: rgba(0,0,0,0.3);
} 
.newsletter_input:-ms-input-placeholder
{ 
	font-size: 16px;
	color: rgba(0,0,0,0.3);
}
.newsletter_input::input-placeholder
{
	font-size: 16px;
	color: rgba(0,0,0,0.3);
}
.newsletter_button
{
	position: absolute;
	top: 0;
	right: 0;
	width: 153px;
	height: 50px;
	background: #0e8ce4;
	color: #FFFFFF;
	line-height: 50px;
	font-size: 18px;
	border: none;
	outline: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
}
.newsletter_button:hover
{
	opacity: 0.8;
}
.newsletter_unsubscribe_link
{
	float: right;
	text-align: right;
	height: 50px;
}
.newsletter_unsubscribe_link a
{
	font-size: 10px;
	color: #0e8ce4;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	line-height: 50px;
}
.newsletter_unsubscribe_link a:hover
{
	color: #0d82d3;
}

/*********************************
9. Footer
*********************************/

.footer
{
	padding-top: 52px;
	padding-bottom: 40px;
}
.footer .logo_container
{
	height: auto;
	margin-bottom: 18px;
	margin-top: -10px;
}
.footer .logo
{
	top: auto;
	-webkit-transform: transform: none;
    -moz-transform: transform: none;
    -ms-transform: transform: none;
    -o-transform: transform: none;
    transform: none;
}
.footer .logo a
{
	color: #000000;
}
.footer_title
{
	font-size: 14px;
	font-weight: 500;
	color: #000000;
}
.footer_phone
{
	font-size: 18px;
	font-weight: 500;
	color: #0e8ce4;
	margin-top: 13px;
}
.footer_contact_text
{
	margin-top: 10px;
}
.footer_contact_text p
{
	margin-bottom: 0px;
}
.footer_social
{
	margin-top: 27px;
}
.footer_social ul li
{
	display: inline-block;
	width: 30px;
	height: 30px;
	background: #fafafa;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
	margin-right: 16px;
	text-align: center;
}
.footer_social ul li i
{
	color: #000000;
	line-height: 30px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_social ul li:hover i
{
	color: #0e8ce4;
}
.footer_subtitle
{
	font-size: 12px;
	color: #000000;
}
.footer_column ul:first-of-type
{
	margin-top: 21px;
}
.footer_column ul
{
	margin-top: 7px;
}
.footer_list li
{
	margin-bottom: 6px;
}
.footer_list li a
{
	font-size: 12px;
	font-weight: 500;
	color: rgba(0,0,0,0.4);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_list li a:hover
{
	color: #0e8ce4;
}
.footer_list_2
{
	margin-top: 42px !important; 
}

.copyright
{
	width: 100%;
	background: #fafafa;
}
.copyright_container
{
	width: 100%;
	height: 56px;
}
.copyright_content
{
	font-size: 12px;
	color: rgba(0,0,0,0.6);
}
.copyright_content span
{
	font-weight: 500;
}
.logos
{
	
}
.logos_list li
{
	display: inline-block;
	margin-right: 16px;
}
.logos_list li:last-child
{
	margin-right: 0px;
}

@media only screen and (max-width: 480px)
{
	.product_item
	{
		width: 50%;
	}
}

@media only screen and (max-width: 575px)
{
	h2{font-size: 24px;}
	p{font-size: 13px;}
	.top_bar
	{
		display: none;
	}
	.logo_container, .wishlist_cart
	{
		height: 72px;
	}
	.logo a
	{
		font-size: 24px;
	}
	.cat_menu_container
	{
		width: auto;
		padding-right: 15px;
	}
	.cat_menu_text
	{
		font-size: 13px;
		margin-left: 12px;
	}
	.cat_burger
	{
	    width: 16px;
	    height: 12px;
	}
	.cat_burger span:nth-child(2)
	{
		top: 5px;
	}
	.cat_burger span:nth-child(3)
	{
		top: 10px;
	}
	.menu_trigger_text
	{
		font-size: 13px;
		margin-right: 10px;
	}
	.wishlist
	{
		margin-right: 23px;
	}
	.wishlist_content
	{
		margin-left: 6px;
	}
	.wishlist_text
	{
		display: none;
	}
	.cart_text
	{
		display: none;
	}
	.wishlist_text a,
	.cart_text a
	{
		font-size: 14px;
	}
	.wishlist_count,
	.cart_price
	{
		font-size: 12px;
	}
	.wishlist_icon
	{
		width: 20px;
	}
	.cart_content
	{
		margin-left: 18px;
	}
	.cart_icon
	{
		width: 17px;
	}
	.cart_count
	{
		width: 21px;
		height: 21px;
	}
	.cart_count span
	{
		line-height: 21px;
	}
	.top_bar_user
	{
		margin-left: 0px;
	}
	.header_search
	{
		display: none;
	}
	.main_nav
	{
		width: calc(100% + 30px);
		margin-left: -15px;
		margin-right: -15px;
		margin-top: 0px;
	}
	.main_nav_content
	{
		height: 35px;
	}
	.cat_menu_container
	{
		padding-left: 15px;
	}
	.menu_trigger_container
	{
		padding-right: 15px;
	}
	.cat_menu li
	{
		height: 36px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.cat_menu li a
	{
		font-size: 13px;
		line-height: 36px;
	}
	.cat_menu li ul
	{
		left: 50%;
		z-index: 10;
	}
	.page_menu_item > a
	{
		font-size: 12px;
	}
	.page_menu_selection li a
	{
		font-size: 12px;
	}
	.banner_product_image
	{
	    right: 15px;
	}
	.button
	{
		height: 32px;
	}
	.button a
	{
		font-size: 12px;
		line-height: 32px;
		padding-left: 25px;
		padding-right: 25px;
	}
	.rating_r i::before
	{
		font-size: 14px;
	}
	.shop_product_count, 
	.shop_sorting
	{
		float: none;
	}
	.shop_sorting
	{
		margin-top: 7px;
	}
	.shop_page_nav
	{
		height: 40px;
	}
	.page_prev, .page_next
	{
		width: 30px;
	}
	.page_nav li
	{
		width: 30px;
		height: 40px;
	}
	.single_product
	{
		padding-top: 0px;
	}
	.image_selected
	{
		height: calc(100vw - 30px);
	}
	.image_list li
	{
		height: calc((100vw - 30px) / 3 - 15px);
	}
	.product_name
	{
		font-size: 24px;
	}
	.product_quantity
	{
		float: none;
	}
	.product_color
	{
		float: none;
		margin-top: 15px;
	}
	.cart_button
	{
		font-size: 13px;
		line-height: 32px;
		padding-left: 25px;
		padding-right: 25px;
	}
	.newsletter_form
	{
		float: none;
		width: 100%;
	}
	.newsletter_title_container
	{
		padding-left: 0px;
		text-align: center;
	}
	.newsletter_unsubscribe_link
	{
		float: none;
		text-align: center;
		margin-top: 10px;
		height: auto;
	}
	.newsletter_unsubscribe_link a
	{
		line-height: 1;
	}
	.newsletter_title
	{
		font-size: 16px;
	}
	.newsletter_icon
	{
		position: relative;
		width: 40px;
		top: auto; 
		-webkit-transform: translate(-50%, 0px); 
		-moz-transform: translate(-50%, 0px); 
		-ms-transform: translate(-50%, 0px); 
		-o-transform: translate(-50%, 0px); 
		transform: translate(-50%, 0px); 
		left: 50%; 
		margin-bottom: 20px;
	}
	.newsletter_button
	{
		position: relative;
	    top: auto;
	    right: auto;
	    left: 50%;
	    -webkit-transform: translateX(-50%);
	    -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	    -o-transform: translateX(-50%);
	    transform: translateX(-50%);
	    width: 113px;
	    height: 40px;
	    background: #0e8ce4;
	    color: #FFFFFF;
	    line-height: 40px;
	    font-size: 12px;
	    border: none;
	    outline: none;
	    border-top-right-radius: 5px;
	    border-bottom-right-radius: 5px;
	    border-top-left-radius: 5px;
	    border-bottom-left-radius: 5px;
	    cursor: pointer;
	    margin-top: 20px;
	}
	.newsletter_input
	{
		font-size: 13px;
		padding-left: 15px;
		height: 40px;
		line-height: 40px;
	}
	.newsletter_input::-webkit-input-placeholder
	{
		font-size: 13px;
	}
	.newsletter_input:-moz-placeholder
	{
		font-size: 13px;
	}
	.newsletter_input::-moz-placeholder
	{
		font-size: 13px;
	} 
	.newsletter_input:-ms-input-placeholder
	{ 
		font-size: 13px;
	}
	.newsletter_input::input-placeholder
	{
		font-size: 13px;
	}
	.copyright_container
	{
		height: auto;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.logos
	{
		margin-top: 30px;
	}
}

@media only screen and (max-width: 767px)
{
	.header_search
	{
		display: none;
	}
	.page_menu_search
	{
		display: block;
	}
	.main_nav
	{
		margin-top: 0px;
	}
	.banner_product_image
	{
		opacity: 0.5;
		width: 60vw;
	    top: 50%;
	    -webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.banner_product_image img
	{
		width: 100%;
	}
	.char_col:nth-child(3)
	{
		margin-bottom: 30px;
	}
	.char_item
	{
		padding-left: 36px;
	}
	.product_item
	{
		width: 33.33333333%;
	}
	.image_list li
	{
		height: 160px;
	}
}

@media only screen and (max-width: 991px)
{
	.top_bar
	{
		/*display: none;*/
	}
	.header_search
	{
		height: 50px;
	}
	.custom_dropdown
	{
		text-align: left;
	}
	.main_nav
	{
		margin-top: 56px;
	}
	.main_nav_menu
	{
		display: none;
	}
	.logo_container,
	.wishlist_cart
	{
		height: 125px;
	}
	.main_nav_content
	{
		background: #0e8ce4;
	}
	.menu_trigger_container
	{
		display: block;
	}
	.top_bar
	{
		height: 40px;
	}
	.top_bar_contact_item
	{
		font-size: 12px;
		margin-right: 20px;
		line-height: 40px;
	}
	.top_bar_contact_item a
	{
		font-size: 12px;
		line-height: 40px;
	}
	.top_bar_icon
	{
		margin-right: 4px;
	}
	.top_bar_icon img
	{
		width: 70%;
	}
	.top_bar_menu
	{
		display: none;
	}
	.top_bar_user a
	{
		font-size: 12px;
		line-height: 40px;
	}
	.user_icon
	{
		-webkit-transform: translateY(-1px);
	    -moz-transform: translateY(-1px);
	    -ms-transform: translateY(-1px);
	    -o-transform: translateY(-1px);
	    transform: translateY(-1px);
	    width: 12px;
	}
	.cat_menu_container ul
	{
		visibility: hidden;
		opacity: 0;
	}
	.char_col:not(:last-child):not(:nth-child(3))
	{
		margin-bottom: 30px;
	}
	.char_item
	{
		padding-left: 36px;
	}
	.shop_sidebar
	{
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	.shop_content
	{
		margin-top: 60px;
	}
	.product_item
	{
		width: 25%;
	}
	.product_description
	{
		padding-left: 0px;
	}
	.image_selected
	{
		width: 100%;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	.image_list
	{
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		padding-top: 15px;
	}
	.image_list li
	{
		width: calc(33.33333333% - 10px);
		height: 220px;
		margin-bottom: 0px;
	}
	.image_list li:not(:last-child)
	{
		margin-right: 15px;
	}
	.product_description
	{
		padding-top: 80px;
	}
	.newsletter_title_container
	{
		width: 100%;
	}
	.newsletter_content
	{
		width: 100%;
		margin-top: 30px;
	}
	.newsletter_form
	{
		width: calc(100% - 114px);
	}
	.footer_col:not(:last-child)
	{
		margin-bottom: 40px;
	}
}

@media only screen and (max-width: 1199px)
{
	.cat_menu_container
	{
		width: 211px;
		padding-left: 25px;
	}
	.main_nav_dropdown li
	{
		margin-right: 30px;
	}
	.main_nav_dropdown li a
	{
		font-size: 16px;
	}
	.char_item
	{
		padding-left: 25px;
	}
	.product_description
	{
		padding-left: 30px;
	}
	.image_list li
	{
		height: 130px;
	}
	.image_selected
	{
		height: 420px;
	}
	.product_quantity,
	.product_color
	{
		width: 162px;
	}
	.product_price
	{
		margin-top: 30px;
	}
	.button_container
	{
		margin-top: -60px;
	}
	.newsletter_form
	{
		width: 456px;
	}
}